{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="text-light">Toutes les catégories de séries : </h1>
    {% for category in categories %}
        <div class="text-light ms-4 p-2">
            <p>{{ category.id }} - {{ category.name }}</p>
            <a href="{{ path("category_show", { categoryName: category.name }) }}" class="text-warning">Voir la catégorie</a>
        </div>
    {% else %}
        <div class="text-light">
            Aucune catégorie trouvée.
        </div>
    {% endfor %}

    <a class="text-warning text-decoration-none mt-4" href="{{ path("app_index") }}">< Retour à l'accueil</a>
{% endblock %}