@import "https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap";


  $primary: #242424ff;
  $secondary: #5ABFC7;
  $thirdary: #F5F5F7;

.bg-thirdary {
  background-color: $thirdary;
}

.bg-primary {
  background-color: $primary;
}
@import "~bootstrap/scss/bootstrap";
